<div>
	{{#if editable}}
		{{#if (not collaborative)}}
			<p class="warning">
				{{ rc-i18n "RipCrypt.Apps.RichEditor-no-collaborative" }}
			</p>
		{{/if}}
		<prose-mirror
			name="{{ path }}"
			value="{{ raw }}"
			{{ifThen compact "compact" ""}}
			{{#if collaborative}}
				data-document-uuid="{{ uuid }}"
			{{/if}}
		>
			{{{ enriched }}}
		</prose-mirror>
	{{else}}
		{{{ enriched }}}
	{{/if}}
</div>
